/Calculator/Calculator/x64/Debug
/Calculator/x64/Debug
/Calculator/plugins/*/*/x64/Debug
/Calculator/plugins/*/x64/Debug/*
!funccos.dll
**/framework.h
**/dllmain.cpp
**/Release
**/.vs
**/*vcxproj.user
**/pch.h
**/pch.cpp
**/plugins/**/*.vcxproj
**/plugins/**/*.filters

